<article class='sub-container--converse'>
    <div class='grid--80--converse'>
        {% if post.image %}
        <div class='sub-container__image--converse' style='background-image: url({{ MEDIA_URL }}{{ post.image }});'></div>
        {% endif %}
    
        <i class='sub-container__separator--converse'></i>
        <h1 class='sub-container__header--converse'><a href='{{ post.get_absolute_url}}'>{{ post.title }}</a></h1>
    
        <i class='sub-container__separator--converse'></i>
    
        <div class='sub-container__content--converse'>
            {{ post.body|safe }}
        </div><!-- /sub-container__content -->
    </div><!-- /grid -->
    
    <div class='grid--20'>
        <div class='converse__post-meta'>
            <h2 class='converse__post-meta__header'>Posted</h2>
            <time datetime='{{ post.published_date|date:'c' }}' class='converse__post-meta__date'>{{ post.published_date|date:'F j, Y' }}</time>
        </div>
    
        <div class='converse__post-meta'>
            <h2 class='converse__post-meta__header'>By</h2>
            <i class='converse__post-meta__author'>{{ post.get_author_display }}</i>
        </div>
    
        <div class='converse__post-meta'>
            <h2 class='converse__post-meta__header'>Tags</h2>
    
            <ul class='converse__post-meta_tag'>
            {% for tag in post.tags.all %}
                <li><a href='{% url "post_list_view" %}?tag={{ tag }}'>{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </div><!-- /converse__post-meta -->
    </div><!-- /grid -->
    {% if show_return == "True" %}
	<a href='#top' class='js-top grid--80'>Return to top</a>
    {% endif %}
</article>